/* import less files */
@import "../components/bootstrap/less/bootstrap.less";

/* mixins */
.footer-height(@height) {
    body {
        margin: 0 0 @height;
    }
    footer {
        height: @height;
    }
}

/* placement (no sizes) */
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #5ebfb5;
    color: white;
    font-family : "Proxima N W02 Bold",Helvetica,Arial,sans-serif;
    overflow: hidden;
}
html.backgroundsize body {
    background: #EEE url("../img/background.jpg") no-repeat center center;
    .background-size(cover);
}
header h1 {
    height: 50px;
}
header img {
    vertical-align: middle;
}
.content {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.content h1 {
    font-weight: normal;
    line-height: 1.1;
}
.content a.btn {
    margin-top: 1em;
    .border-radius(6px);
}
footer {
    text-align: center;  
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .box-sizing(border-box);
}

/* sizes */
header h1 {
    font-size: 28px;
}
footer {
    font-size: 11px;
    padding: 0 5%;
}
.footer-height(10%);

/* responsive */
/* Large desktop */
@media (min-width: 1200px) {
    body {
        margin: 3%;
    }
    .content {
        width: 70%;
        height: 400px;
    }
    .content h1 {
        font-size: 5.5em;
    }
    .content a.btn {
        font-size: 1.75em;
        padding: 1em 1.5em;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        margin: 3%;
    }
    .content {
        width: 70%;
        height: 50%;
    }
    .content h1 {
        font-size: 3.9em;
    }
    .content a.btn {
        font-size: 1.5em;
        padding: 15px 30px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    header {
        text-align: center;
    }
    .content {
        height: 150px;
        width: 80%;
    }
    .content h1 {
        font-size: 2em;
    }
    .content a.btn {
        font-size: 1em;
        padding: 6px 12px;
    }
    .footer-height(50px);
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    header {
        text-align: center;
    }
    .content {
        height: 120px;
        width: 90%;
    }
    .content h1 {
        font-size: 1.8em;
    }
    .content a.btn {
        font-size: 1em;
        padding: 5px 10px;
    }
    .footer-height(50px);
}