@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    background: #333;
    background-size: cover;
    font-family : "Montserrat", "Proxima N W02 Bold", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
}

h1 {
    color: white;
    text-shadow: 0 2px 0 rgba( 0, 0, 0, .05 );
    margin-bottom: 40px;
    line-height: 1.4em;
    animation-delay: .3s;
}

ul#links {
    animation-delay: .4s;
}

ul#links li {
    padding: 0 8px;
}

ul#links li a {
    font-size: 25px;
    color: white;
    opacity: .6;
}

ul#links li a:hover {
    opacity: .9;
}

#do {
    background: rgba( 0, 0, 0, .1 );
    padding: 0 12px;
    border-radius: 2px;
}

#modal-fingerprint .modal-content {
    background: none;
    box-shadow: none;
    border: none;
    text-align: center;
}

#modal-fingerprint .modal-body {
    color: white;
    background: rgba( 255, 255, 255, .1 );
    border-radius: 2px;
}
